*{
  margin:0;
  padding:0;
}
.content{
  padding-top:50px;
  width:100%;
  height:90vh;
}
/******卡片模型************/
.card{
  width:100%;
  height:100%;
  box-shadow: 0 0 0 1px black;
  background-color: #fb8;
  border-radius: 15px;
  float:left;
}
.card > p{
  width:100%;
  height:41px;
  background-color: white;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 1.2px black;
  line-height: 41px;
}
.card >div{
  width:inherit;
  height:calc(100% - 41px);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
/****总体框架**********/
.container{
  margin:0 auto;
  width:90vw;
  height:inherit;
  position: relative;
}
.show-main{
  height: calc(((100% / 3) * 2) - 10px);
  width: calc((100% / 5) * 4);
  margin-bottom: 10px;
}
.show-bottom{
  height: calc((100% / 3) - 5px);
  width: calc((100% / 5) * 4);
}
.show-right{
  position: absolute;
  right: 0px;
  top:0px;
  height:calc(100% - 5px);
  width: calc((100% / 5) - 10px);
}
/*******具体划分*******/
.show-main .head-pic{
  height: 100%;
  width:calc((100% / 3) - 10px);
  display: inline-block;
}
.show-main .about-me{
  height:100%;
  width:calc(((100% / 3) * 2) - 5px);
  margin-left: 10px;
  display: inline-block;
}
.show-bottom > ul{
  list-style: none;
  height:100%;
  width:100%;
}
.show-bottom >ul li{
  display: inline-block;
  height: 100%;
  width: calc(((100% - 30px) / 3));
}
.show-bottom>ul li:not(.end){
  margin-right: 10px;
}
.show-right .where{
  width:100%;
  height: calc((100% / 3) - 5px);
}
.show-right .friends{
  margin-top:10px;
  width:100%;
  height: calc((100% / 3) * 2 - 5px);
}
/********卡片内容****************/
.head-pic .card div{
  background-color: yellow;
  position: relative;
}
.head-pic .card div .head-circle{
  width:10vw;
  height:10vw;
  border-radius: 50%;
  background-image: url(../img/head.png);
  background-size: 100% 100%;
  position:absolute;
  top:calc((100% - 10vw) / 2 - 1vw);
  left:calc((100% - 10vw) / 2 );
}
.about-me .card div{
  background-color: white;
  position:relative;
}
.about-me .card div .bg{
  width:100%;
  height:90%;
  background-image: url(../img/city.png);
  background-repeat: no-repeat;
  background-position:bottom;
  background-color: #db8;
}
.about-me .card div .cloud{
  width:calc(126px / 1.3);
  height:calc(84px / 1.3);
  background-image: url(../img/cloud.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position:bottom;
  background-color: #db8;
  position:relative;
}
.about-me .card div .cloud p{
  font-size:1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  position:absolute;
  top:50%;
  left:calc(50% - 2rem );
}
.about-me .card div .c1{
  position: absolute;
  top:20px;
  left:20px;
}
.about-me .card div .c2{
  position: absolute;
  top:80px;
  left:100px;
}
.about-me .card div .c3{
  width:calc(126px / 1);
  height:calc(84px / 1);
  position: absolute;
  top:20px;
  left:180px;
}
.show-right .where div{
  position: relative;
  background-color : rgb(61, 179, 209);
  color:rgb(61, 179, 209);
}
.show-right .where div p{
  width:10rem;
  height:2rem;
  font-size:1.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 2rem;
  background-color: white;
  color:inherit;
  text-shadow:0 0 2px black;
  position:absolute;
  top:calc(20%);
  left:calc(50% - 5rem);
}
.show-right .where div p.last{
  position:absolute;
  top:calc(60%);
  left:calc(50% - 5rem);
}
.show-right .where div span{
  display: inline-block;
  width:1rem;
}

.show-right .friends div{
  position:relative;
  background-color: pink;
}
.show-right .friends .friends-container{
  height:60%;
  width:80%;
  position: absolute;
  top: 15%;
  left:calc((100% - 80%) / 2);
}
.show-right .friends .friends-container div{
  height:18%;
  width:100%;
  background-color: rgba(231, 224, 224, 0.452);
  border-radius:10%/60%;
  text-align: center;
  margin-bottom: .7rem;
}
.show-right .friends .friends-container div .name{
  font-size:1rem;
  line-height: 2rem;
  margin-right:1.2rem;
}
.show-right .friends .friends-container div .des{
  font-size:.8rem;
  color:gray;
}


