*{
  margin:0;
  padding:0;
}
.img-base{
  background-size:100% 100%;
  background-repeat: no-repeat;
}
body{
  background-color: #4c5ea2;
}
/***********header********************/
.header{
  height:36px;
  width:100%;
  background-color: white;
  font-family: erikos,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragin;
  color:black;
}
.header .nav-bar{
  height:inherit;
  width:348px;
  float:left;
  padding-top:9px;
  padding-left: 5vw;
}
.nav-bar .logo{
  display: inline-block;
  height:20px;
  width:23px;
  background-image: url(https://www.vanoc.top/static/media/logo.fc6bc3c1.png);
}
.nav-bar>ul{
  display: inline-block;
  width:320px;
  list-style: none;
}
.nav-bar li{
  float:left;
  width:60px;
  height:20px;
  padding:0 10px;
  text-align: center;
}
.nav-bar a{
  text-decoration: none;
  color:black;
  font-size: 16px;
  font-weight: bolder;
  position:relative;
  z-index: 1;
}
.nav-bar a span{
  display:inline-block;
  width:26px;
  height:26px;
  z-index: -1;
  position:absolute;
  top:-7px;
  left:12px;
  /* border:3px solid #ffd03f; */
  border-radius: 50%;
}
.time-bar{
  width:99px;
  height:inherit;
  float:right;
  padding: 0 5vw;
}
.time-bar .logo{
  height:24px;
  width:24px;
  margin-top:6px;
  background-image: url(https://www.vanoc.top/static/media/github.4a160e3c.png);
  float:left;
}
.time-bar .time{
  width:65px;
  float:right;
  line-height: 36px;
  margin-left: 10px;
  font-weight: bolder;
}
/****header effect******************/
@keyframes test{
  from{
    width:1px;
    height:1px;
    border:10px solid #ffd03f;
  }
  60%,80%,to{
    width:26px;
    height:26px;
    border:3px solid #ffd03f;
    animation-timing-function:
      cubic-bezier(.16,1.08,.03,1.57);
  }
  70%{
    width:26px;
    height:26px;
    border:2px solid #ffd03f;
  }
}
/******************************/
.content{
  height:calc(99vh - 36px);
  width:90vw;
  border:1px solid #ffd03f;
  margin:0 auto;
}
.content .main-string{

}
/*************??******************/