*{
  margin:0;
  padding:0;
}
.img-base{
  background-size:100% 100%;
  background-repeat: no-repeat;
}
body{
  background-color: #4c5ea2;
}
/***********header********************/
.header{
  height:36px;
  width:100%;
  background-color: white;
  font-family: erikos,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragin;
  color:black;
}
.header .nav-bar{
  height:inherit;
  width:348px;
  float:left;
  padding-top:9px;
  padding-left: 5vw;
}
.nav-bar .logo{
  display: inline-block;
  height:20px;
  width:23px;
  background-image: url(https://www.vanoc.top/static/media/logo.fc6bc3c1.png);
}
.nav-bar>ul{
  display: inline-block;
  width:320px;
  list-style: none;
}
.nav-bar li{
  float:left;
  width:60px;
  height:20px;
  padding:0 10px;
  text-align: center;
}
.nav-bar a{
  text-decoration: none;
  color:black;
  font-size: 16px;
  font-weight: bolder;
  position:relative;
  z-index: 1;
}
.nav-bar a span{
  display:inline-block;
  width:8px;
  height:8px;
  background-color: white;
  z-index: -1;
  position:absolute;
  top:5px;
  left:23px;
  border-radius: 50%;
}
.time-bar{
  width:99px;
  height:inherit;
  float:right;
  padding: 0 5vw;
}
.time-bar .logo{
  height:24px;
  width:24px;
  margin-top:6px;
  background-image: url(https://www.vanoc.top/static/media/github.4a160e3c.png);
  float:left;
}
.time-bar .time{
  width:65px;
  float:right;
  line-height: 36px;
  margin-left: 10px;
  font-weight: bolder;
}
/****header effect******************/
@keyframes circle_ani{
  form{
    
    box-shadow: 0 0 0 8px white, 0 0 0 4px #ffd03f;
  }
  60%,80%,to{
    box-shadow: 0 0 0 9px white, 0 0 0 12px #ffd03f;
  }
  70%{
    box-shadow: 0 0 0 10px white, 0 0 0 14px #ffd03f;
  }
}
@keyframes circle_active_ani{
  form{
    box-shadow:0 0 0 4px #ffd03f;
  }
  60%,80%,to{
    box-shadow:0 0 0 12px #ffd03f;
  }
  70%{
    box-shadow: 0 0 0 14px #ffd03f;
  }
}
/******************************/
.content{
  height:calc(99vh - 36px);
  width:90vw;
  margin:0 auto;
  position:relative;
}
.content .main-string{
    color:white;
    font-size: 15vh;
    font-weight: 600;
    text-align: left;
    position:absolute;
    top: 8vh;
}
.main-string .cursor{
  width:.5vh;
  height:15vh;
  background-color: white;
  display: inline-block;
  margin-left: 1vh;
  position:relative;
  bottom: -5px;
}
.content .side-bar{
  height:70vh;
  width:64px;
  position:absolute;
  right:0px;
  top:5vh;
}
.side-bar ul{
  list-style: none;
  text-align: center;
}
.side-bar ul a{
  font-size: 18px;
  color:white;
  font-weight: bold;
  text-decoration: none;
}
.side-bar .logo{
  background-size: 100% 100%;
  display: block;
  height:64px;
  width:64px;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
}
/*************side-bar 动作***************/
.side-bar .logo:hover{
  animation: logoAni 0.4s ease-in-out ;
}
@keyframes logoAni {
    25%{
      transform: translateY(3px);
    }
    50%{
      transform: translateY(-3px);
    }
    75%{
      transform: translateY(3px);
    }
    100%{
      transform: translateY(0px);
    }
}

.side-bar ul li span:hover{
  animation: spanAni .2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes spanAni {
  100%{
    text-shadow: 0 4px 5px black;
  }
}
/*******************************/
.side-bar .logopath1{
  background-image: url(https://www.vanoc.top/static/media/sup.3c007529.png);
}

.side-bar .logopath2{
  background-image: url(https://www.vanoc.top/static/media/readme.8d22c89a.png);
}

.side-bar .logopath3{
  background-image: url(https://www.vanoc.top/static/media/msg.f08a151b.png);
}

.side-bar .logopath4{
  background-image: url(https://www.vanoc.top/static/media/setting.a6823a97.png);
}
/********底部**************/
.content .bottom-bar{
  height:10vh;
  width: 100%;
  position:absolute;
  bottom: 0px;
}
.bottom-bar ul{
  list-style: none;
  width:100%;
  height:inherit;
}
.bottom-bar ul li{
  display: inline-block;
  float:left;
  width: calc( 100% / 5 - 1px);
  height: 10vh;
  text-align: center;
  font-size:1rem;
  line-height: 10vh;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.bottom-bar .start{
  border-left: none;
}
.bottom-bar .end{
  border-right: none;
}
.bottom-bar li b{
  font-weight: bold;
  color:#ffd03f
}
.bottom-bar li a{
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color:white;
}
.bottom-bar li a:hover{
  text-decoration: underline;
}
