div{
  width: 100px;
  height:100px;
}
.box1{
  background-color: red;
  display: inline-block;
}
.box2{
  background-color: blue;
  display: inline-block;
}
.box3{
  background-color: violet;
  float:left;
}
